body {
  margin: 0;
}

#bg {
  background-color: lightblue;
  min-height: 100vh;
  padding: 10px;
}

#container {
  display: flex;
  width: 960px;
  height: 960px;
  background-color: white;
  text-align: center;
  border: solid;
  border-width: 1px;
}

h1 {
  margin-top: 0;
}
